.sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.forget-pass {
  display: inline-flex;
  font-size: 0.8rem;
  margin-left: 68%;
}

.signInFooter {
  margin-top: 22vh;
  gap: 2rem;
  margin-bottom: 1rem;
}
