.sign-in{
  display: flex;
  flex-direction: column;
  position: relative;
width: 100%;
height: 100%;
background: #ffff;
align-items: center;
justify-content: center;
gap: 2rem;
}


.signIn-footer{
  box-sizing: border-box;
  /* display: flex; */
  height: 200px;
  position: relative;
  margin-top: 44vh;
}
