.RoundedButton {
  background: #feefec;

  box-sizing: border-box;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 2px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  border-radius: 50%;
  font-size:x-small;
}

.RoundedButtonPlay {
  box-sizing: border-box;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #f39c12;
  border: 2px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  border-radius: 50%;
  font-size: large;
}