.squareButton {
  box-sizing: border-box;
display: flex;
  /* Auto layout */
  /* display: relative; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 20px 7px;
  gap: 8px;

  width: 100%;
  /* height: 20%; */

  background: #feefec;
  border: 1.5px solid #252525;
  /* 1 */

  box-shadow: 2px 2px 0px #d35400;
  border-radius: 20%;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
