.squareButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* Auto layout */
  /* display: relative; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 20px 7px;
  /* gap: 8px; */
font-size: small;
  width: 50px;
  height: 50px;
  /* height: 20%; */

  background: #feefec;
  border: 2px solid #252525;
  /* 1 */

  box-shadow: 2px 2px 0px #d35400;
  border-radius: 20%;

  /* Inside auto layout */

  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  }

