@media screen {
    .contact-phone{
        display: grid;
        justify-items: center;
        margin-top: 15%;
    }
    .icon{
        box-sizing: border-box;
        width: 58px;
        height: 58px;
        left: 178px;
        top: 139px;

        background: #FEEFEC;
        border: 1.5px solid #000000;
        border-radius: 50%;
        /* 1 */
        
        box-shadow: 2px 2px 0px #D35400;
    }
    
    .icon :first-child{   
        
    color: #7D56A5;
    position: relative;
    left: 35%;
    right: 53.33%;
    top: 26.33%;
    bottom: 8.63%;
    
   
}
.name{

    height: 25px;
left: 185px;
top: 206px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 100%;
line-height: 300%;

color: #252525;
}
.detail{
    /* +1 1800 123 456 */
    
    
    /* justify-content: center; */
    /* width: 121px;
height: 25px;
left: 147px;
top: 231px; */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 120%;
line-height: 300%;
/* identical to box height, or 156% */

/* text-align: center; */

color: #252525;

}
}