
.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.box {
  border: 1.5px solid #252525;
  border-radius: 20px;
  flex-basis: 45% ;
  margin-top: 5%;
  
}
.right.box::before{
  transform: rotate(6.3deg);
}
.left.box::before{
  transform: rotate(-6.3deg);
}

.center{
  align-items: center;
  text-align: center;
}

.box1 {
  background: #f39c12;

}
.box2 {
  background: #ffffff;
}

.icon1 {
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-items: center;

}
.icon2 {
  
  justify-content: center;
  display: flex;
}
.lock{
 
 margin-left:50%;
 margin-top: 3%;
 size: 10%;

}
.btn-doNow{
  background-color: white;
  color: #f39c12;
  border: none;
  border-radius: 20%;

  
}
.color-btn-doAssessment{
  color: #f39c12;
}
.i{
  margin-left:10%;
  margin-top: 20%;
}
.white{
  color:white;
}
.blue{
 color: #7D56A5
}
.imgSize{
  width: 22%;
}
