
.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 40vh;
}
.main-container{
  display: flex;
  flex-direction: column;

}
.graf-container{
  display: flex;
  justify-content: center;
  background: #FEEFEC;
  border: 1.5px solid #252525;
  margin-top: 5%;
  border-radius: 20px;
}
.center-contxt{
  display: flex;
  flex-direction: column;
  
}
.icon-assessment{
  display: flex;
}
.btn-info{
  display: flex;
  flex-direction: column;
}
.container-icon-lock{
  display: flex;
  justify-content: end;
  width: 95%;
}

.box {
  border: 1.5px solid #252525;
  border-radius: 20px;
  flex-basis: 45% ;
  margin-top: 5%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30%;
  justify-content: center;
}


.right.box::before{
  transform: rotate(6.3deg);
}
.left.box::before{
  transform: rotate(-6.3deg);
}

.center{
  align-items: center;
  text-align: center;
}

.box1 {
  background: #f39c12;

}
.box2 {
  background: #ffffff;
}

.icon1 {
  display: flex;
  justify-content: center;
 align-items: center;
 flex: 1 1 auto;
}
.icon2 {
  
  justify-content: center;
  display: flex;
}
.lock{
 
 margin-left:50%;

 size: 10%;

}
.btn-doNow{
  background-color: white;
  color: #f39c12;
  border: none;
  border-radius: 20%;

  
}
.color-btn-doAssessment{
  color: #f39c12;
}

.white{
  color:white;
}
.blue{
 color: #7D56A5
}
.imgSize{
  width: 20%;
}
