
.back-purple{
    position: relative;
  }
  .back-purple::before{
      top: 0;
      right: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: purple;
    border-radius: 20px;
    z-index: -1;
  }
  .right.back-purple::before{
    transform: rotate(2.3deg);
  }
  .left.back-purple::before{
    transform: rotate(-2.3deg);
  }