.sub-title-box {
  display: inline-flex;
  flex-direction: row;
  font-size: 12px;
  text-align: center;
  align-items: baseline;
}

.sub-title {
  width: 90vw;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #55575a;
  margin: 10px;
}
