.DashGraph {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 5%;
    left: 20%;
    background: #FEEFEC;
    border: 1.5px solid #252525;
    border-radius: 20px;
    width: 382px;
    height: 338px;
    box-sizing: border-box;
}

.Border {
    box-sizing: border-box;
    position: absolute;
    width: 382px;
    height: 338px;
    top: 21%;
    left: 25%;
    background: #7D56A5;
    border: 1.5px solid #252525;
    border-radius: 20px;
    transform: rotate(2.15deg);
}

.Tabs {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 12px;
    margin: 15px;
}

.Tab {
    text-align: center;
    justify-content: center;
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(205, 205, 226);
    width: 110px;
    height: 64px;
    background: #FFFFFF;
    border: 1.5px solid #252525;
    box-shadow: 2px 2px 0px #D35400;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #7D56A5;
}

.TabOn {
    background: #F39C12;
    border: 1.5px solid #252525;
    color: white;
    width: 110px;
    height: 64px;
    text-align: center;
    justify-content: center;
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(205, 205, 226);
    box-shadow: 2px 2px 0px #D35400;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

}

.InText{
    margin-top: 10%;
}

.Graph { 
    position: absolute;
    width: 80%;
    height: 137px;
    left: 10%;
    bottom: 10%;
    background: linear-gradient(128.87deg, #F39C12 -0.48%, rgba(243, 156, 18, 0) 81.7%);
}